@import 'src/app/shared/styles/variables';


:host {
  display: flex;
  height: $header-height;
}

.header {
  display: flex;
  height: inherit;
  width: 100%;
  max-width: $content-width;
  padding: 0 1rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  &__logo {
    position: relative;
    display: flex;
    height: inherit;
    width: 18rem;
    margin: 0 1rem;
    justify-content: center;
    align-items: center;

    &::before {
      position: absolute;
      display: block;
      top: 1rem;
      left: 0.5rem;
      height: 3.5rem;
      width: 15rem;
      content: "";
      border: 1px solid;
      border-color: inherit;
    }

    &::after {
      position: absolute;
      display: block;
      bottom: 1rem;
      right: 1rem;
      height: 3.5rem;
      width: 15rem;
      content: "";
      border: 1px solid;
      border-color: inherit;
    }

    span {
      position: relative;
      top: .2rem;
      font-size: 2.5rem;
    }
  }

  &__actions {
    margin: 0 1rem;
  }
}
