@import 'src/app/shared/styles/variables';


.todo-item {
  position: relative;
  display: flex;
  margin: 1rem;
  border: .1rem solid $primary-text;
  overflow: hidden;

  &__content {
    width: 100%;
    margin-right: 3rem;
  
    &__name {
      padding: 1rem;
      background-color: $primary;
      
      &.completed {
        background-color: $green-color;
      }

      &.deleted {
        background-color: $red-color;
      }

      span {
        font-size: 1.6rem;
      }
    }

    &__description {
      padding: 1rem;

      span {
        word-break: break-word;
      }
    }
  }

  &__actions {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $black-color;

    &__toggle {
      display: flex;
      height: 100%;
      width: 3rem;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      color: $accent-text;
      background-color: $accent;
      cursor: pointer;

      &.deleted {
        background-color: $primary-text;
        pointer-events: none;
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
    }
  }
}
