// colors
$light-blue-color: #00fbfe;
$dark-blue-color: #0022c7;

$green-color: #00c525;
$red-color: #d62816;

$grey-color: #cacaca;
$black-color: #000000;

$primary: $dark-blue-color;
$accent: $light-blue-color;

$primary-text: $grey-color;
$accent-text: $black-color;



// sizes

$header-height: 6rem;

$content-width: 108rem;
